<?xml version="1.0"?>
<lab>
    <logger>
        <level>debug</level>
        <console>true</console>
        <log remove="remove"/>
        <errorlog remove="remove"/>
    </logger>

    <query_log>
        <database>system</database>
        <table>query_log</table>
    </query_log>

    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <interserver_http_host>clickhouse03</interserver_http_host>
    <interserver_http_port>9009</interserver_http_port>

    <max_connections>4096</max_connections>
    <keep_alive_timeout>3</keep_alive_timeout>
    <max_concurrent_queries>100</max_concurrent_queries>
    <uncompressed_cache_size>8589934592</uncompressed_cache_size>
    <mark_cache_size>5368709120</mark_cache_size>

    <path>/var/lib/clickhouse/</path>
    <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
    <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>

    <users_config>users.xml</users_config>
    <default_profile>default</default_profile>
    <default_database>default</default_database>
    <timezone>Europe/Tallinn</timezone>
    <mlock_executable>false</mlock_executable>

    <storage_configuration>
      <disks>
        <default>
          <keep_free_space_bytes>1024</keep_free_space_bytes>
        </default>
        <s3>
          <type>s3</type>
          <endpoint>http://minios3:9000/clickhouse03/data/</endpoint>
          <access_key_id>lab</access_key_id>
          <secret_access_key>lab12345</secret_access_key>
        </s3>
      </disks>
      <policies>
        <tiered>
          <volumes>
            <default>
              <disk>default</disk>
            </default>
            <s3>
              <disk>s3</disk>
              <perform_ttl_move_on_insert>0</perform_ttl_move_on_insert>
            </s3>
          </volumes>
        </tiered>
        <s3only>
          <volumes>
            <s3>
              <disk>s3</disk>
            </s3>
          </volumes>
        </s3only>
      </policies>
    </storage_configuration>

    <remote_servers>
        <labcluster>
            <shard>
                <replica>
                    <host>clickhouse01</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse02</host>
                    <port>9000</port>
                </replica>
            </shard>
            <shard>
                <replica>
                    <host>clickhouse03</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse04</host>
                    <port>9000</port>
                </replica>
            </shard>
        </labcluster>
    </remote_servers>

    <zookeeper>
        <node index="1">
            <host>zookeeper</host>
            <port>2181</port>
        </node>
    </zookeeper>

    <macros>
        <cluster>labcluster</cluster>
        <shard>02</shard>
        <replica>clickhouse03</replica>
    </macros>

    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>

    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>

</lab>
